<span class="outer-text">
    <h1>Email Details</h1>
    {{#if email}}
        <h2 style="font-size: 18px; margin-top: 0px; font-weight: bold;">{{email}}</h2>
    {{/if}}
</span>
<table border="0" style="width: 100%;">
    <tr>
        <td style="width:25%; padding: 5px;">
            <div class="panel panel-info">
                <div class="panel-heading" style="text-align: center;">
                    Processed Events
                </div>
                <div class="panel-body" style="overflow-y: auto; height: 150px;">
                    <span style="text-align: center">
                        <h1 style="font-size: 72px; margin-top: 15px; margin-bottom: 0px;">{{data.processed}}</h1>
                    </span>
                </div>
            </div>
        </td>
        <td style="width:25%; padding: 5px;">
            <div class="panel panel-info">
                <div class="panel-heading" style="text-align: center;">
                    Delivery Rate
                </div>
                <div class="panel-body" style="overflow-y: auto; height: 150px;">
                    <span style="text-align: center">
                        <h1 style="font-size: 72px; margin-top: 15px; margin-bottom: 0px;">{{data.delivery_rate}}<span style="font-size: 32px">%</span></h1>
                    </span>
                </div>
            </div>
        </td>
        <td style="width:25%; padding: 5px;">
            <div class="panel panel-info">
                <div class="panel-heading" style="text-align: center;">
                    Open Rate
                </div>
                <div class="panel-body" style="overflow-y: auto; height: 150px;">
                    <span style="text-align: center">
                        <h1 style="font-size: 72px; margin-top: 15px; margin-bottom: 0px;">{{data.open_rate}}<span style="font-size: 32px">%</span></h1>
                    </span>
                </div>
            </div>
        </td>
        <td style="width:25%; padding: 5px;">
            <div class="panel panel-info">
                <div class="panel-heading" style="text-align: center;">
                    Click Rate
                </div>
                <div class="panel-body" style="overflow-y: auto; height: 150px;">
                    <span style="text-align: center">
                        <h1 style="font-size: 72px; margin-top: 15px; margin-bottom: 0px;">{{data.click_rate}}<span style="font-size: 32px">%</span></h1>
                    </span>
                </div>
            </div>
        </td>
    </tr>
</table>